/* Stylesheet */
@import "normalize";

body {
    font-size: 16px;
}

body,
html {
    height: 100%;
}

main {
    height: 100%;
}

nav {
    background: #333;
    display: flex;
    padding: .5em;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    
    #logo {
        height: 50px;
        margin-left: 1em;
        width: 50px;
    }
    
    ul {
        margin: 0;
        
        li {
            color: white;
            display: inline-block;
            margin: 0 1em;
            text-decoration: none;
        }
    }
}

.hero {
    background: #6c2a07;
    color: orange;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
    
    div {
        background: orange;
        height: 100px;
        width: 100px;
    }
}

.filler {
    margin: auto;
    padding: 4em 0;
    
    .content-wrap {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 900px;
        
        img {
            margin-right: 2em;
        }
    }
    
    &:nth-child(odd) {
        background: #f9f9f9;
    }
}

//CASE STUDY STYLES

.intro {
    text-align: center;
    width: 900px;
}

.article-wrap {
    margin: 4em auto;
    max-width: 900px;
    
    .placehold-it {
        background: #999;
        height: 400px;
    }
}

.full-width {
    background: #999;
    height: 600px;
    width: 100%;
}